 body {
    background-color:lightgrey;
}








/*HEADER*/
nav li{
    display:inline-black;
    margin:0;
    padding:0;
}



































/* Center All items-limit to 900px */

body header { font-size 1en;}
body> header, main, footer, {

margin:auto;
width: 900px;
}

.deck.separator-top{
    background-image url("../images/hr-img.png");

}

















body> header > nav > ul {
     float:right;
     position:realtive;
     top: -6px;
}

body> header > nav > ul:first-child





new li{
    display: inline-black;
    mairgin:0;
    padding:0;
}

/*main*/


/*footer*/

/*



